@import "vars";
@import "mixins";

@include main;

header {
  div {
    display: flex;
    justify-content: space-around;
    padding: 1em;
    
    nav {
      ul {
        display: flex;
        list-style: none;
        li {
          a {
            text-decoration: none;
            font-size: larger;
            padding: 2em;
            &:hover{
              text-decoration: underline;
              color: darkgray;
            }
          }
        }
      }
    }
  }
  .intro {
    padding-top: 20vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    div {
        display: inline;
        padding: 4em;
      h1 {
        font-size: 10vh;
        span{
            color: goldenrod;
        }
      }
      p{
        font-size: 4vh;
      }
    }
    img{
        border-radius: 10em;
        filter: grayscale(50%);
        transition-duration: 1000ms;
        &:hover{
            border-radius: 5em;
            filter: grayscale(0%);
            transition-duration: 1000ms;
        }
    }
  }
}
section{
  background-color: #5f5f5b;
  div{
    width: 50%;
    margin: 0 auto;
    h2{
     text-decoration: underline goldenrod;
      font-size: 4vh;
  }
    p{
    font-size: 2vh;
   }
   h3{
    padding-top: 1em;
    font-size: 3vh;
   }
  }
    .tools{
      padding: 1em;
      display: flex;
      flex-wrap: wrap;
      justify-content: left;
      img{
        padding: 0.5em;
        height: 100px;
      }
    }
      
      .project-list{
        padding: 1em;
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        .single-project{
          border: 2px solid lightgray;
          border-radius: 5px;
          text-align: center;
          padding: 1em;
          margin: 1em;          
          width: 30%;
          transition: 500ms;
          &:hover{
            transform: scale(110%);
            transition: 500ms;
          }
          h4{
            font-size: larger;
          }
          img{
            max-height: 100px;
            border: 1px solid white;
            border-radius: 5px;
          }
          button{
            padding:0.5em 1em;
            border-radius: 5px;
            margin: 1em;
            color: black;
            &:hover{
              cursor:pointer;
            }
          }
        }
      }
      form{
        padding: 1em;
        display: flex;
        flex-direction: column;
        justify-content: left;
          div{
            input{
              color: black;
              padding:0.5em 1em;
              margin-bottom:1em;
              width: 50%;
            }
            button{
              color: black;
              padding:0.5em 1em;
              border-radius: 5px;
            }
            textarea{
              color: black;
              padding:0.5em 1em;
              margin-bottom:1em;
              width: 50%;
              height: 10em;
            }
          }
      }        
}
footer{
  p{
    text-align: center;
    font-size: smaller;
  }
}


